Thumbs.db
.svn
*.orig
*.dcu
*.ppu
*.rst
*.compiled
*.or
*.o
*.a
*.exe
*.dll
*.identcache
*.bdsproj.local
*.bak
*~
Makefile
Makefile-non-automake
*.log
*.status
__history
aclocal.m4
*.cache/*
dists/xcode/build/*
*.pbxuser
*.perspectivev3
*.mode1*
config.h
stamp-h*
*(Autosaved)*
confdefs*
conftest*
conf*/*.awk
link*.res
